@use "global" as *;

.comparison__title {
  text-align: center;
}

.comparison__table {
  margin-top: rem(45);
  overflow-x: scroll;
  margin-right: rem(-17);
  @include mq("md") {
    margin-top: rem(68);
    margin-right: auto;
  }
}
