@use "global" as *;

table , td, th {
	border: 1px solid $indigo;
	border-collapse: collapse;
  padding: rem(5);
}

.comparison-table td, th {
	height: rem(85);
}

.comparison-table {
  font-size: rem(14);
  color: #5C5C5C;
  min-width: rem(996);
  width: 100%;
  border: 2px solid $indigo;
  text-align: center;
  line-height: calc(19 / 15);
  letter-spacing: .019em;
}

.comparison-table__back {
  width: 8%;
  padding-left: rem(13);
  text-align: left;
  color: $white;
  background: $indigo;
  font-size: rem(13);
  border-bottom: 1px solid $white;
}

th.comparison-table__back1 {
  color: $white;
  background: $blue;
  font-weight: $bold;
  width: 22.9%;
}

th.comparison-table__back2  {
  font-size: rem(15);
  background: #E5E5E5;
  font-weight: $normal;
  width: 22.9%;
}

.comparison-table__back3 {
  color: $pink;
  background: $back-yellow;
  font-size: rem(15);
  font-weight: $bold;
  text-align: center;
}

.comparison-table__horizontal th {
  height: rem(46);
}