@use "global" as *;

.section-title {
  font-size: rem(25);
  font-weight: $bold;
  letter-spacing: rem(.75);
  position: relative;
  display: inline-block;
  @include mq("md") {
    font-size: rem(40);
  }
}

.section-title::after {
  content: "";
  position: absolute;
  bottom: rem(-12);
  width: 117%;
  height: rem(6);
  border-radius: rem(4);
  background: $gradation;
  left: 50%;
  transform: translate(-50%, 0);
  @include mq("md") {
    height: rem(8);
    width: 113%;
    bottom: rem(-19);
  }
}
